<h3><%= link_to 'New Post', new_post_path %></h3>
<% @posts.each do |p| %>
  <ul>
    <li><%= link_to '+', post_path(id: p.id, plus: true), method: :put %></li>
    <li><%= link_to '-', post_path(id: p.id, minus:true),  method: :put %></li>
    <li><%= p.title %></li>
    <li><%= p.description %></li>
    <li><%= link_to 'destroy', post_path(id: p.id), method: :delete %></li>
  </ul>
<% end %>
